@model List<CrumbCRM.QuoteItem>
@{
    ViewBag.Title = "_QuoteItems";
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="item" data-id="@item.ID">
        <div class="left">
            <form class="inline hidden">
                <input type="checkbox" />
            </form>
            <span class="txt-large no-bold">@item.Title</span>
            <span class="edit hidden"><a href="@Url.Action("EditItem", "Quotes", new { id = item.ID })"><i class="icon-small icon-dark icon-edit"></i>edit</a></span>
            <span class="delete hidden"><a href="@Url.Action("DeleteItem", "Quotes", new { id = item.ID })"><i class="icon-small icon-dark icon-remove"></i>delete</a></span>
        </div>
        <!-- /left -->

        <div class="right lighter">

            <span>@item.Value</span>
        </div>

    </div> <!-- /item -->
}