@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/content/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <link href="~/bundles/styles" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/jquery.migrate.js"></script>

    <script src="~/Scripts/plugins/fullcalendar/fullcalendar.js"></script>
    <script src="~/Scripts/jquery.calendar.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/jquery.qtip.min.js"></script>
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    <script src="~/Scripts/jquery.customselect.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.highlight.js"></script>
    <script src="~/Scripts/jquery.blockui.js"></script>
    <script src="~/Scripts/jquery.triggeronview.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.tokeninput.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker.js"></script>

    <script src="~/Scripts/main.js"></script>
</head>

<body>

    <header>
        <div class="inner">
            <a href="/" class="logo"></a>
            <a href="javascript:;" class="show-nav no-desktop"></a>

            <ul class="nav">
                <li><a @(controller.Equals("home") ? "class=active" : string.Empty) href="/"><i class="icon icon-light icon-dashboard icon-small @(controller.Equals("home") ? "icon-active" : string.Empty)"></i><span>dashboard</span></a></li>
                <li><a @(controller.Equals("lead") ? "class=active" : string.Empty) href="/leads"><i class="icon-light icon-small icon icon-leads  @(controller.Equals("lead") ? "icon-active" : string.Empty)"></i><span>leads</span></a></li>
                <li><a @(controller.Equals("contact") ? "class=active" : string.Empty) href="/contacts"><i class="icon-light icon-small icon icon-contact  @(controller.Equals("contacts") ? "icon-active" : string.Empty)"></i><span>contacts</span></a></li>
                <li><a @(controller.Equals("sale") ? "class=active" : string.Empty) href="/sales"><i class="icon-light icon-small icon icon-deals  @(controller.Equals("sale") ? "icon-active" : string.Empty)"></i><span>sales</span></a></li>
                <li><a @(controller.Equals("task") ? "class=active" : string.Empty) href="/task"><i class="icon-light icon-small icon icon-tasks  @(controller.Equals("task") ? "icon-active" : string.Empty)"></i><span>tasks</span></a></li>
                <li><a @(controller.Equals("quote") ? "class=active" : string.Empty) href="/quotes"><i class="icon-light icon-small icon icon-quote  @(controller.Equals("quote") ? "icon-active" : string.Empty)"></i><span>quote</span></a></li>
                <li><a @(controller.Equals("invoice") ? "class=active" : string.Empty) href="/invoice"><i class="icon-light icon-small icon icon-invoice  @(controller.Equals("invoice") ? "icon-active" : string.Empty)"></i><span>invoices</span></a></li>
                <li><a @(controller.Equals("report") ? "class=active" : string.Empty) href="/report" class="nodisplay"><i class="icon-light icon-small icon icon-reports  @(controller.Equals("report") ? "icon-active" : string.Empty)"></i><span>reports</span></a></li>
            </ul>
            <div class="end"></div>

            <div class="right">
                <form action="@Url.Action("Index", "Search")" method="post" class="header-search">
                    <input type="text" value="" name="id" placeholder="Search..." />
                </form>
                <ul class="nav">
                    <li class="drop-nav"><a href="javascript:;"><i class="icon icon-settings icon-small icon-light"></i><span>Settings</span></a>
                        <ul class="sub-nav">
                            <li><a href="@Url.Action("Index", "Members")"><i class="icon icon-dark icon-small icon-users"></i>Members</a></li>
                            <li><a href="@Url.Action("LogOff", "Account")"><i class="icon icon-dark icon-small icon-exit"></i>Logout</a></li>
                        </ul>

                    </li>
                </ul>
                <div class="end"></div>
            </div>
            <!-- /right -->

        </div>
        <!-- /inner -->
    </header>

    <section id="content">

        @RenderBody()

    </section>

    @RenderSection("Scripts", false)
    <script>
        Calendar.init();
    </script>
</body>
</html>
