@model CrumbCRM.Web.Models.CreateMemberModel
@{
    ViewBag.Title = "Add a Member";
}

<h1>Create Member<a href="/Lead" class="btn-back">Back</a></h1>
<div class="width-wide left">
    @using (Html.BeginForm("Add", "Members", FormMethod.Post, new { @class = "box" }))
    {
        <div class="form-row">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "input-medium" })
        </div>
        <div class="form-row">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "input-medium" })
        </div>    
        <div class="form-row">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "input-medium" })
        </div>    
        <div class="form-row">
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-medium" })
        </div>

        <div class="actions">
            <input type="submit" value="Add Member" class="btn btn-primary" />
        </div>
    }
</div>
<!-- /content-right -->


<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}
    </div>
</div>
<!-- /width-side -->
