@model List<CrumbCRM.Security.User>
@{
    ViewBag.Title = "Index";
       
}

<h1>CRM Users</h1>

<div class="width-wide left">

    @{
        if (ViewBag.Message != null)
        {
        <p class="msg msg-success">
            @ViewBag.message
            <a href="javascript:;" class="msg-close right">close</a>
        </p>
        }
    }

    <div class="stream">
        <div class="stream-head">
            <form>
                <input type="checkbox" />
            </form>
            <a href="javascript:;" data-action="/contact/delete/" class="btn btn-check-delete nodisplay btn-secondary"><i class="icon icon-small icon-light icon-remove"></i>delete selected</a>

            <a href="/account/register" class="btn btn-primary"><i class="icon-small icon-add"></i>add user</a>

            <form class="inline-search" id="stream-search">
                <input type="text" value="" placeholder="Search users" />
            </form>

            <div class="right">
                Sort by date: 
                        <form class="inline-select">
                            <select class="sorting">
                                @if (ViewBag.order == "desc")
                                {
                                    <option value="asc">ascending</option>
                                    <option value="desc" selected>descending</option>
                                }
                                else
                                {
                                    <option value="asc" selected>ascending</option>
                                    <option value="desc">descending</option>

                                }

                            </select>
                        </form>
            </div>
        </div>
        <div class="stream-content">
            @foreach (var item in Model)
            {
                <div class="item" data-id="@item.UserId">
                    <div class="left">
                        <form class="inline hidden">
                            <input type="checkbox" /></form>
                        <span class="txt-large no-bold"><i class="icon icon-dark icon-contact icon-small"></i>@item.Username</span>
             
                        <span class="edit hidden"><a href="/account/edit/@item.Username"><i class="icon-small icon-dark icon-edit"></i>edit</a></span>
                        <span class="delete hidden"><a href="/account/delete/@item.Username"><i class="icon-small icon-dark icon-remove"></i>delete</a></span>
                    </div>
                    <!-- /left -->

                    <div class="right">
                        <div class="date">@item.CreateDate.ToString()</div>
                    </div>
                    <!-- /right -->
                </div> <!-- /item -->
            }


        </div>
        <!-- /stream-content -->
    </div>
    <!-- /stream -->
</div>
<!-- /content-right -->


<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}
    </div>
</div>
<!-- /width-side -->
<!-- /content-left -->

<div class="clear"></div>
@if (ViewBag.Next != null)
{
    <div class="content-loading" data-next="@ViewBag.Next">
        <img src="/Content/Images/ajax-loader.gif" />
    </div>
}