@model CrumbCRM.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<div class="width-wide left">


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "box" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-row">
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "input-medium" })
    @Html.ValidationMessageFor(m => m.UserName)
    </div>
    
    <div class="form-row">
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "input-medium" })
    @Html.ValidationMessageFor(m => m.Password)
    </div>
     
    <div class="form-row">
    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
    @Html.CheckBoxFor(m => m.RememberMe)
     </div>
    
   
    
    <div class="actions">
        <input type="submit" value="Login" class="btn btn-primary" /> or @Html.ActionLink("Register", "Register")
    </div>


}
</div>