@model CrumbCRM.Lead
@{
    ViewBag.Title = "Add a Lead";
}

<h1>Add Lead<a href="/Lead" class="btn-back">Back</a></h1>
<div class="width-wide left">
    @using (Html.BeginForm("Add", "Lead", FormMethod.Post, new { @class = "box" }))
    {
        @Html.HiddenFor(c => c.ID)
        @Html.HiddenFor(c => c.Status)
        @Html.Hidden("convert", !string.IsNullOrEmpty(Request["convert"]) ? Request["convert"] : string.Empty);
        <div class="form-row">
            <label>Name</label>
            @Html.TextBoxFor(c => c.FirstName, null, new { @class = "input-medium", placeholder = "First Name" })
            @Html.TextBoxFor(c => c.LastName, null, new { @class = "input-medium", placeholder = "Last Name" })
        </div>
        <div class="form-row">
            <label>Job Title</label>
            @Html.TextBoxFor(c => c.JobTitle, null, new { @class = "input-large", placeholder = "Job title" })
        </div>
        <div class="form-row">
            <label>Company</label>
            @Html.DropDownList("Companies", null, "Please select company", new { @class = "input-large" })
            <a href="javascript:;" class="add-company"><i class="icon icon-add icon-dark icon-small"></i> Add new</a>
        </div>
        <div class="form-row nodisplay new-company-row">
            <label>New Company Name</label>
            @Html.TextBoxFor(c => c.CompanyName, null, new { @class = "input-large", placeholder = "Company Name" })
        </div>
        <div class="form-row nodisplay new-company-row">
            <label>Business Sector</label>
            @Html.TextBoxFor(c => c.BusinessSector, null, new { @class = "input-large", placeholder = "Business sector" })
        </div>
        <div class="form-row">
            <label>Email</label>
            @Html.TextBoxFor(c => c.Email, null, new { @class = "input-large", placeholder = "Email" })
        </div>
        <div class="form-row">
            <label>Phone</label>
            @Html.TextBoxFor(c => c.Mobile, null, new { @class = "input-medium", placeholder = "Mobile" })
            @Html.TextBoxFor(c => c.Work, null, new { @class = "input-medium", placeholder = "Work" })
        </div>
        <div class="form-row">
            <label>Address</label>
            @Html.TextBoxFor(c => c.Address, null, new { @class = "input-large", placeholder = "Address" })
        </div>
        <div class="form-row">
            <label></label>
            @Html.TextBoxFor(c => c.City, null, new { @class = "input-small", placeholder = "City" })
            @Html.TextBoxFor(c => c.County, null, new { @class = "input-small", placeholder = "County" })
            @Html.TextBoxFor(c => c.Postcode, null, new { @class = "input-small", placeholder = "Postcode" })
        </div>
        <div class="form-row">
            <label>Campaign</label>
            @Html.DropDownList("Campaigns", null , "Please select campaign", new { @class = "input-large" })
            <a href="javascript:;" class="add-campaign"><i class="icon icon-add icon-dark icon-small"></i> Add new</a>
        </div>
        <div class="form-row nodisplay new-campaign-row">
            <label>New Campaign Name</label> 
            @Html.TextBox("CampaignName", null, new { @class = "input-large", placeholder = "Campaign Name" })
        </div>        
        <div class="form-row">
            <label>Tags</label>
            @Html.TextBox("TagSelector", null, new { @class = "input-large", placeholder = "Tag this content..." })
            @if(Model != null)
            {
                <input type="hidden" id="TagPrePopulate" value='@ViewBag.CurrentTags' />
            }
            <span class="help">Useful for search terms and grouping</span>
        </div>
    
        <div class="form-row">
            <label>Account Manager</label>
            @Html.DropDownList("Members", null, "Please select user", new { @class = "input-large" })
        </div>
        <div class="form-row">
            <label>Warm</label>
            @Html.CheckBoxFor(c => c.Warm, null)
        </div>
        <div class="form-row">
            <label>Priority</label>
            @Html.DropDownList("PriorityType", null , "Please select priority", new { @class = "input-large" })
        </div>
    


        <div class="actions">
            <input type="submit" value="Add Lead" class="btn btn-primary" />
        </div>
    }
</div>
<!-- /content-right -->


<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}
    </div>
</div>
<!-- /width-side -->
