@model CrumbCRM.Web.Models.LeadItemViewModel
@{
    ViewBag.Title = "View a Lead";
}
<h1><a href="@Url.Action("", "Lead")">Lead</a> / @(string.Format("{0} {1} ({2})", Model.Lead.FirstName, Model.Lead.LastName, Model.Lead.CompanyName))</h1>

<div class="width-side small left">
    <p class="owner-row">
        <b><i class="icon icon-dark icon-small icon-contact"></i> @Model.Lead.OwnerUser.FullName</b> owner
    </p>
    <br />
    <hr />
    <br />
    <p>
        <a href="/lead/edit/@Model.Lead.ID" class="btn btn-secondary">Edit lead</a>
    </p>
</div>
<div class="width-wide small left">

    @if (ViewBag.Message != null)
    {
        <p class="msg msg-success">
            @ViewBag.message
            <a href="javascript:;" class="msg-close right">close</a>
        </p>
    }

    @using (Html.BeginForm("Add", "Note", FormMethod.Post, new { @class = "box" }))
    {
        @Html.Hidden("ItemID", Model.Lead.ID)
        @Html.Hidden("NoteType", CrumbCRM.NoteType.Lead)
        <div class="form-row">
            @Html.TextAreaFor(c => c.Note.Body, 8, 10, new { @class = "input-full ckeditor", placeholder = "Note" })
        </div>
        <div class="inline-actions">
            @Html.DropDownList("ActionType")
            <input type="submit" value="Add Note" class="btn btn-primary" />
        </div>
    }
    <h3 class="alt">Activity</h3>
    <div class="stream">
        <div class="stream-head">
            <form>
                <input type="checkbox" />
            </form>
            <a href="javascript:;" data-action="/note/delete/" class="btn btn-check-delete nodisplay btn-secondary"><i class="icon icon-small icon-light icon-remove"></i>delete selected</a>

            <form class="inline-search" id="stream-search">
                <input type="text" value="" placeholder="Search notes" />
            </form>
        </div>
        <div class="stream-content">
            @{Html.RenderAction("DisplayNotes", "Note", new { id = Model.Lead.ID, type = CrumbCRM.NoteType.Lead });}
        </div>
        <!-- /stream-content -->
    </div>
    <!-- /stream -->
</div>
<!-- /content-right -->


<div class="width-side right no-mobile">
    <div class="box no-mobile dash-tasks">
        <h4>Tasks for this</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { areaType = CrumbCRM.Enums.AreaType.Lead, itemId = Model.Lead.ID, detail = true });}
  </div>
    <div class="box no-mobile dash-tasks">
        <h4>Tasks</h4>
        @{Html.RenderAction("DisplaySideTasks", "Task", new { });}        
    </div>    
    <div class="box no-mobile dash-labels">
        <h4>Tags</h4>
        @foreach (var item in Model.Lead.Tags)
        {
            <span class="label tag"><a href="@Url.Action("RemoveTag", "Lead", new { id = Model.Lead.ID, tagId = item.TagID })">@item.Tag.Name <span> x</span></a></span>        
        }
    </div>
</div>
<!-- /width-side -->

